body{
  background-color: antiquewhite;
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.margin{
  margin-left: 20px;
}
P{
  border: 1px solid black ;
  padding: 5px;
  background-color: rgb(13, 204, 140);
  text-align: justify;
  width: fit-content;
  border-radius: 10px;
}
ul{
  background-color: bisque;
  width:200px;
  border-radius: 10px;
  padding: 9px 0 0 25px;
}

p::first-line{
  color: rgb(138, 14, 255);
  text-transform: uppercase;
  padding: 5px;
}
a{
  margin-left: 15px;
}
a:link{
  color: blueviolet;
}
a:visited{
  color: blueviolet;

}
a:active{
  border: 1px solid rgb(0, 0, 0);
  color: white;
  background-color: rgb(88, 37, 37);
  border-radius: 9px;
  padding: 2px;
}
a:hover{
  color: palevioletred;
}

#user:focus{
  color: darkblue;
  font-size: 25px;
}
#password{
  border-bottom-right-radius: unset;
}
li:nth-child(2n+1){
  background-color:rgb(202, 194, 194) ;
}
table{
  
  border-collapse: collapse;
  text-align: center;

}
td,th{
  border: 1px solid rgb(136, 3, 3);
  padding: 5px;
}

tr:nth-child(2n){
  background-color: #6d726d;
}
h1:hover{
  font-size: 40px;
  background-color: white;
  width: max-content;
  border-radius: 10px;
  padding: 4px;
  cursor: pointer;
}
ul li:hover{
  font-size: 30px;
  cursor: pointer;
}
.margin:hover{
  font-size: 23px;
  cursor: pointer;
}
p::first-line:hover{
  font-size: 23px;

}
::selection{
  background-color: yellow;
  color: rgb(223, 122, 28);
}
input:optional {
  background-color: rgb(185, 176, 176);
}
input:required{
  background-color: pink;
  border-color: rgb(89, 156, 2);
  bor
}
.req{
  color: red;
}
th{
  background-color: #6d726d;
}
body{
  counter-reset: section;
}
.line{
  background-color: white;
  border: none;
}
.line::before{
  counter-increment: section;
  content: counter(section) ":";
}
li::before{
  content: " *";
}
.line:hover{
  font-size: 23px;
}
h3{
  text-transform: uppercase;
}
.container{
  background-color: aquamarine;
}
body{
  padding: 0;
  margin: 50px;
}
div{
  width: 100px;
  height: 100px;
  padding: 5px 0 5px 5px;
}
#first{
  background-color: blue;
}
#second{
  background-color: blueviolet;
}
#third{
  background-color: chartreuse;
  position: relative;
  
}
#fourth{
  background-color: darkmagenta;
}
img{
  width: 90px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 720px;
  cursor: pointer;
}
img:hover{
  width: 95px;
}