body{
  background-color: antiquewhite;
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.margin{
  margin-left: 20px;
}
P{
  border: 1px solid black ;
  padding: 5px;
  background-color: rgb(13, 204, 140);
  text-align: justify;
  width: fit-content;
}
ul{
  background-color: bisque;
  width: fit-content;
}
li::first-letter{
  text-transform: uppercase;
  color: rgb(0, 132, 255);
}
p::first-line{
  color: rgb(138, 14, 255);
  text-transform: uppercase;
  padding: 5px;
}

a:link {
  color: #FF0000;
}
a:visited {
  color: #00FF00;
}

/* mouse over link */
a:hover {
  color: #FF00FF;
}

/* selected link */
a:active {
  color: #002fff;
  border: 2px solid green;
  padding: 5px;
  border-radius: 10px;
}

#user:focus{
  color: darkblue;
  font-size: 25px;
}
#password{
  border-bottom-right-radius: unset;
}
li:nth-child(2n+1){
  background-color:rgb(202, 194, 194) ;
}
table{
  
  
  text-align: center;

}
td,th{
  border: 1px solid rgb(255, 0, 0);
  padding: 5px;
}
.data:nth-child(2n+1){
  background-color: gray;

}
tr:nth-child(2n){
  background-color: green;
}
h1:hover{
  font-size: 40px;
  background-color: white;
  width: max-content;
  border-radius: 10px;
  padding: 4px;
}
ul li:hover{
  font-size: 30px;
  cursor: pointer;
}
.margin:hover{
  font-size: 18px;
  width: 100px;
}
::selection{
  background-color: yellow;
  color: rgb(223, 122, 28);
}